---
const { sidebarArray, baseUrl } = Astro.props;
import stringCorrector from "../../utils/stringCorrector";
---

<ul>
  {
    sidebarArray.map((item: { title: string; children: [] }) => (
      <li class="capitalize text-sm font-extralight text-zinc-500 hover:text-white py-1">
        <a
          class="flex items-center h-full py-1 space-x-2 group"
          href={baseUrl + "/" + stringCorrector(item.title)}
        >
          {item.children.length !== 0 ? (
            <svg
              class="group-hover:rotate-90 transition-transform ease-in-out"
              width="20"
              height="20"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 6L15 12L9 18"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          ) : (
            <svg
              width="20"
              height="20"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 12H18"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          )}
          <span> {stringCorrector(item.title, true)}</span>
        </a>
        {item.children.length !== 0 && (
          <div
            id={baseUrl + "/" + stringCorrector(item.title)}
            class="ml-2 my-1 pl-4 border-l border-zinc-500 hidden"
          >
            {Array.isArray(item.children) ? (
              <Astro.self
                baseUrl={baseUrl + "/" + stringCorrector(item.title)}
                sidebarArray={item.children}
              />
            ) : null}
          </div>
        )}
      </li>
    ))
  }
</ul>

<script>
  let currentHref = window.location.href;
  let currentPath = window.location.pathname;
  let anchorElements = document.querySelectorAll("a");
  let childElements = document.querySelectorAll(
    'div[id="' + currentPath + '"]'
  );
  anchorElements.forEach(function (anchor) {
    if (anchor.href === currentHref) {
      anchor.classList.add("text-white");
    }
  });
  childElements.forEach(function (anchor) {
    if (anchor.id === currentPath) {
      anchor.classList.remove("hidden");
      anchor.classList.add("block");
    }
  });
</script>
