---
import Search from "../SearchDialog";
import NavMenu from "./NavMenu.astro";

const navItems = [
  {
    label: "Quick Start",
    href: "/quickstart",
  },
  {
    label: "Installation",
    href: "/installation",
  },
  {
    label: "Examples",
    href: "/examples",
  },
  {
    label: "Frameworks",
    href: "/frameworks",
    childrens: [
      {
        label: "Svelte",
        href: "/svelte",
      },
      {
        label: "React",
        href: "/react",
        childrens: [
          {
            label: "Create React App",
            href: "/create-react-app",
          },
          {
            label: "Vite",
            href: "/vite",
          },
        ],
      },
    ],
  },
];
---

<div
  class="w-80 flex flex-col items-center h-[calc(100vh-56px)] border-r border-zinc-900"
>
  <nav class="w-full h-full p-4 space-y-4 flex flex-col justify-between">
    <div class="space-y-4">
      <Search client:load />
      <NavMenu baseUrl="/docs" items={navItems} />
    </div>
    <div>
      <ul>
        <li><a href="">Sidebar</a></li>
      </ul>
    </div>
  </nav>
</div>

<style lang="postcss">
  li {
    @apply p-2 text-zinc-400 hover:text-white font-extralight cursor-pointer text-sm flex space-x-2 items-center transition-all ease-in-out;
  }
</style>
