---
import NavBar from "../components/NavBar.astro";
import LeftSideBar from "../components/SideBar/LeftSideBar.astro";
import RightSideBar from "../components/SideBar/RightSideBar.astro";
interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <div class="flex w-full">
      <LeftSideBar />
      <div class="px-8 py-6 flex-1">
        <div
          class="text-sm text-zinc-600 pb-2 flex items-center justify-between"
        >
          <span>{date}</span>
          <span>2 min read</span>
        </div>
        <slot />
      </div>
      <RightSideBar />
    </div>
    <div class="bg-white h-20"></div>
  </body>
</html>

<style is:global lang="postcss">
  @layer {
    html,
    body {
      @apply bg-zinc-950 text-white selection:text-white selection:bg-indigo-700;
    }
  }
</style>
