---
import NavBar from "../components/NavBar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>

<style is:global lang="postcss">
  @layer {
    html,
    body {
      @apply bg-zinc-950 text-white h-screen selection:text-black selection:bg-indigo-500;
    }
  }
</style>
